*{
    font-family: 'Poppins', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------------------- */

/* Header */
.header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-left: 61px;
    padding-right: 49px;
    padding-bottom: 29px;
}

.phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.location-and-tracking{
    display: flex;
    gap: 36px;
}

.our-store, .track-order {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    gap:20px;
}

/* Navigation */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003F62;
    padding-left: 67.79px;
    padding-right: 67.79px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.navigation-left-section{
    display: flex;
    align-items: center;
    gap:85px;
}

.company-logo {
    width: 140px;
    height: 39px;
}

.search-input{
    width: 438px;
    height: 56px;
    border-radius: 20px;
    border: inherit;
}

.search-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #292D32;
    margin-left: 25px;
    position: absolute;
    top: 17.5px;
    left: 5px;
}

.searchBtn {
    width: 132px;
    height: 58px;
    border-radius: 20px;
    background-color:#EDA415;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: inherit;
    position:absolute;
    left: 605px;

}

.navigation-menu-right {
    display: flex;
    gap: 29px;
}

.favorites img {
    margin-top: 6px;
}
.sign-in, .favorites, .cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #FFFFFF;
    gap: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.favorites-number, .cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.21px;
    height: 15px;
    background: #EDA415;
    border-radius: 394.737px;
    font-weight: 400;
    font-size: 9.47368px;
    line-height: 14px;
}

.favorites-icons, .cart-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.catalog {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F4F4;
}

.catalog-left-section {
    display:flex;
    gap: 98px;
}

.catalog-list {
    display: flex;
    gap: 29px;
}

.catalog-list li {
    display: flex;
    align-items: center ;
    gap: 16px;
}


.browse-categories {
    display: flex;
    align-items: center;
    margin-left: 63px;
    padding-left: 14.5px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 14.5px;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #EDA415;
}

.browse-categories img {
    height: 24px;
    width: 24px;
}

.catalog-right-section {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #003F62;
    margin-right: 63px;
}

.landing-ad{
    display: flex;
    justify-content: space-between;
    padding-left: 234px;
    padding-top: 67px;
    padding-right: 237px;
    padding-bottom: 0%;
}

.landing-ad-left{
    display: flex;
    flex-direction: column;
}

.landing-ad-left{
    font-weight: 700;
    font-size: 43px;
    line-height: 64px;
    gap: 49px;
    color: #1B5A7D
}

.shopNowBtn{
    color:#FFFFFF;
    background-color: #EDA415;
    border: inherit;
    width: 144px;
    height: 61px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.landing-ad-buttons{
    display: flex;
    gap: 21px;
}
.viewMoreBtn{
    color:#316887;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color:#316887;
    width: 144px;
    height: 61px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.bullet-options{
    display: flex;
}

.bullet-options{
    align-self: center;
}
.bullet-options li::before{
    content: " \25E6";
    color: #ADADAD;
    font-size: 60px;
}

.bullet-options #colored::before{
    content:" \2022";
    color: #EDA415;
}

.title-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.ad-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 21.573px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: #EDA415;
    width: 120px;
    height: 114.61px;
    border-radius: 674.157px;
    position: relative;
    left: 250px;
    bottom: 160px;
}

.product-carousel {
    display: flex;
    justify-content: space-between;
    padding-left: 109px;
    padding-right: 109px;
}

.speaker-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43.35px;
    width: 381.63px;
    height: 147px;
    display: flex;
    border: 1px solid #A5A5A5;
    border-radius: 20px;
}

.speaker-card .product-picture{
    width: 154px;
    height: 94px;
}

/* .speaker-arrow{
    width: 24px;
    height: 24px;
    display:block;
    position: absolute;
    top: 850px;
    right: 1800px;
}

.camera-arrow{
    width: 24px;
    height: 24px;
    display:block;
    position: absolute;
    top: 850px;
    left: 1800px;
} */

.speaker-card-right {
    display: flex;
    flex-direction: column;
    gap: 9.42px;
}

.category-name {
    font-weight: 600;
    font-size: 23.38px;
    line-height: 35px;
    color: #1B5A7D
}

.number-of-items{
    font-weight: 500;
    font-size: 18.8462px;
    line-height: 28px;
    color: #265F7F
}

.laptop-card-right {
    display: flex;
    flex-direction: column;
    gap: 9.42px;
}

.laptop-card .laptop-picture{
    width: 154px;
    height: 94px;
}

.laptop-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43.35px;
    width: 381.63px;
    height: 147px;
    display: flex;
    border: 1px solid #A5A5A5;
    border-radius: 20px;
}

.laptop-card img{
    width: 122.21px;
    height: 118px;
}

.camera-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43.35px;
    width: 381.63px;
    height: 147px;
    display: flex;
    border: 1px solid #A5A5A5;
    border-radius: 20px;
}

.camera-card .product-picture{
    width: 110.25px;
    height: 118.73px;
}

.camera-card .arrow{
    width: 24px;
    height: 24px;
    position:absolute;
}

.camera-card-right {
    display: flex;
    flex-direction: column;
    gap: 9.42px;
}

/* Popular products header */

.popular-products-header{
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 61px;
    gap: 482px;
}

.popular-products-title{
    font-weight: 600;
    font-size: 27.38px;
    line-height: 41px;
    color: #1B5A7D;
}

.popular-products-options{
    display: flex;
    justify-content: center;
    gap: 13px;
}

.popular-products-options p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 45px;
    border: 1px solid #003F62;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16.38px;
    line-height: 25px;
    color: #1B5A7D;
}

/* Popular product cards grid */

.popular-products-cards{
    padding-top: 53px;
    padding-left: 64.01px;
    padding-right: 64.01px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.product-card{
    padding-left:20px;
    width: 308.83px;
    height: 313.75px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    border: 0.983537px solid #B6B6B6;
    border-radius: 19.6707px;
}

.card-top-section p{
    font-weight: 500;
    font-size: 17.0939px;
    line-height: 26px;
    color: #003F62;
}

.product-card .price{
    font-weight: 600;
    font-size: 17.0939px;
    line-height: 26px;
    color: #4A4A4A;
}

.picker{
    display: flex;
    justify-content: center;
}

/* banner */
.banner{
    display: flex;
    justify-content:center;
    padding-top: 51px;
}
.banner-body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1315px;
    height: 417px;
    border-radius: 20px;
    background: url(product-images/banner-backplate.png);
}
.banner-body-wrapper{
    position: relative;
    right: 149px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 36px;
}


.new-laptop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 45px;
    font-weight: 500;
    font-size: 14.09px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #EDA415;
    border-radius: 20px;

}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text .sale {
    font-weight: 700;
    font-size: 41px;
    line-height: 62px;
    color: #2E8FC5;
}

.laptop-info {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.shop-now-button{
    width: 134px;
    height: 45px;
    font-weight: 500;
    font-size: 14.09px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #EDA415;
    border-radius: 20px;
}


/* product tiles */
.product-tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 290px;
    padding-top: 94px;
    padding-right: 61px;
}

.product-tiles-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 23px;
    column-gap: 32px;
}

.large-tile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #b6b6b6;
    border-radius: 20px;
    width: 803px;
    height: 505px;
    gap: 40px;
}

.large-tile-top{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.large-tile-right{
    display: flex;
    flex-direction: column;
    gap:37px;
}

.large-tile-right .large-tile-text-section{
    display: flex;
    flex-direction: column;
    gap:15.74px;
}

.large-tile-right .product-name{
    font-weight: 600;
    font-size: 21.09px;
    line-height: 32px;
    color: #003F62;
}

.large-tile-right .price {
    font-weight: 600;
    font-size: 17.0939px;
    line-height: 26px;
    color: #4A4A4A;
}
.numbers {
    display: flex;
    gap: 10px;
}

.numbers .number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22.09px;
    line-height: 33px;
    color: #EDA415;
    width: 77px;
    height: 78px;
    background: #E2F4FF;
    border-radius: 500px;
}

.add-to-cart-section{
    display: flex;
    align-items: center;
    gap: 21px;
}

.add-to-cart-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #272727;
    font-weight: 600;
    font-size: 15.7366px;
    line-height: 24px;
    width: 204.58px;
    height: 60px;
    background-color: #87BCD9;
    border-radius: 19.6707px;
    border: inherit;
}
.add-to-cart-button .cart-inner-img{
    width: 17.21px;
    height: 17.21px;
    background-color: #EDA415;
    border-radius: 491.769px;
    padding: 6px;
}

.observe-button{
    justify-content: center;
    align-items: center;
    width: 70.81px;
    height: 60px;
    background: #87BCD9;
    border-radius: 19.6707px;
    border: inherit;
}

.small-tile{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 493px;
    height: 241px;
    border: 0.983537px solid #B6B6B6;
    border-radius: 19.6707px;
}

.small-tile-right{
    display: flex;
    flex-direction: column;
    gap: 15.74px;
}

.small-tile-right .titulo{
    font-weight: 500;
    font-size: 17.0939px;
    line-height: 26px;
    color:#003F62
}

#tile1{
    grid-column: 1 2;
}

#tile2{
    grid-column: 2 3;
}

.value-propositions{
    display: flex;
    justify-content: center;
    padding-top: 75px;
}
.propositions-wrapper{
    width: 1200px;
    height: 155px;
    background-color: #E2F4FF;
    padding-left: 71px;
    padding-right: 71px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    
}

.proposition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
}

.proposition-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.proposition-title {
    font-weight: 600;
    font-size: 22.09px;
    line-height: 33px;
    color: #003F62;
}

.proposition-minor-text {
    font-weight: 400;
    font-size: 18.09px;
    line-height: 27px;
    color: #003F62;
}
/* customer feedback */

.customer-feedback{
    padding-top: 75px;
    display: flex;
    justify-content: center;
}


.customer-feedback-wrapper{
    display: flex;
    gap: 10px;
}

.customer-feedback-card{
    width: 432.79px;
    height: 242.1px;
    border: 1px solid #BABABA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26.17px;
}

.customer-feedback-card .top-section{
    display: flex;
    align-items: center;
    width: 382.12px;
    justify-content: flex-start;
    gap: 37.39px;
}

.feedback-text{
    text-align: left;
    width: 342.12px;
    height: 60px;
    font-weight: 400;
    font-size: 13.1707px;
    line-height: 20px;
    color: #003F62;
    background-color: #E2F4FF;
    border-radius: 18.695px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bullet-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.partners{
    display: flex;
    justify-content: center;
}

.partners-wrapper{
    width: 1317px;
    height: 136px;
    background-color: #E2F4FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 55.3px;
}

.partners-wrapper img{
    width: 206.16px;
    height: 41.23px;
}